<template name="ApplicationLayout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
    {{> navigation}}
    <!-- Begin page content -->
    <div class="container-fluid">
        {{> yield}}
    </div>
    <div class="visible-xs-block" style="height: 60px">&nbsp;</div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <p class="text-muted col-lg-12">{{> footer}}</p>
            </div>
        </div>
    </div>
    </body>
</template>