<template name="trivia">
    <hr/>
    <p>
        <strong>Trivia:</strong><br>
        {{{random
        "Football means Association Football in nearly every language on this planet."
        "NEO never found the spoon."
        "Developer has too much time."
        "<a target='_blank' href='https://www.youtube.com/watch?v=ubNF9QNEQLA'>What you see is what you don't get</a>"
        "In JavaScript there are no integers. Who needs integers? 0.1 + 0.2 !== 0.3 because floats."
        "Potato."
        "It's hard to come up with interesting facts."
        }}}
    </p>
</template>