<template name="NotFound">
    <h2>You are not supposed to see this page.</h2>
    <h4>
        The Food Planning Company never makes ANY mistakes.
        <small>Hint: You must have made a mistake!</small>
    </h4>
    <p>
        <img src="/failcat.jpg"
             title="I look at you and only see a miserable failure.
I will keep looking at you until you fix your mistake.
You humans make me sick."
             class="img-responsive"
             alt="Miserable Failure" />
        <small>
            Photo Credit: <a href="https://www.flickr.com/photos/65325541@N00/4594110748/">Chriss Pagani</a>
        </small>
    </p>
    <p>
        Maybe what used to be here is no more? Maybe you have some enemies? Is your computer on?
        These questions should keep you busy for a while.
    </p>
    <p>
        <a href="/" class="btn btn-primary">Take me to somewhere safe!</a>
    </p>
</template>