<template name="restaurants">
    {{#if hasRestaurants}}
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    Add a visit to one,
                    {{{random
                    "your friends will thank you"
                    "and this noon you shall not feast in hell but rather a cozy place of your choosing"
                    "so your favorite place doesn't go bankrupt"
                    "because why not"
                    }}}
                </h2>
                <h4>
                    {{#if currentUser}}
                        <small>
                            Mind the green button
                            too. We need to grab the food from somewhere after all.
                        </small>
                    {{ else }}
                        <small>
                            Well you need to spend 5 seconds and create an account to be able to do that.
                            I know, I know... Requirements suck, don't they?
                            <span class="visible-xs-inline">
                                And why is your screen so small?
                            </span>
                        </small>
                    {{/if}}
                </h4>
                {{> restaurant_buttons }}
            </div>
        </div>
        <hr class="visible-xs-block"/>
        <ul class="simple-list">
            {{#each restaurants}}
                {{> restaurant}}
            {{/each}}
        </ul>
    {{else}}
        <h2>No restaurants yet...:(</h2>
        {{> restaurant_buttons }}
        <hr/>
        <img src="/food.jpg" class="img-responsive" alt="food"/>
    {{/if}}
</template>