<template name="restaurant">
    <li id="restaurant-{{_id}}">
        <h3>
            {{ title }}
        </h3>
        <div class="row">
            <div class="col-sm-2">
                {{#if currentUser}}
                    <a href="/visit/create/{{_id}}" class="btn btn-primary btn-block" style="margin-bottom: 3px" role="button">
                        Plan Lunch Here
                    </a>
                {{/if}}
                {{#if image _id}}
                    {{#with image _id}}
                        <a href="{{this.url store='restaurantImages'}}" target="_blank" class="thumbnail" style="margin-bottom: 0px">
                            <img class="img-responsive" src="{{this.url store='restaurantImageThumbs'}}" alt="thumbnail">
                        </a>
                    {{/with}}
                    <!--{{#if equals currentUser._id owner}}
                        <a href="#" class="remove-image" data-restaurant-id="{{_id}}">Delete Image</a>
                    {{/if}}-->
                {{else}}
                    <span class="glyphicon glyphicon-cutlery" style="font-size: 106px"></span>
                    {{#if equals currentUser._id owner}}
                        <p>
                            Add image <input data-restaurant-id="{{_id}}" type="file" class="add-image"/>
                        </p>
                    {{/if}}
                {{/if}}
            </div>
            <div class="col-sm-3">
                <p>
                    <dl><dt>Address:</dt> <dd class="address">{{ address }}</dd></dl>
                    <dl><dt>Telephone:</dt> <dd>{{ phone }}</dd></dl>
                    <dl><dt>Website:</dt> <dd><a target="{{ifthenelse website '_blank' ''}}" href="{{or website '#'}}">{{ title }}</a></dd></dl>
                    <dl>
                        <dt>Menu:</dt>
                        <dd>
                            {{#if menu _id}}
                                {{#with menu _id}}
                                    <a href="{{this.url}}" target="_blank" title="menu">
                                        Menu
                                    </a>
                                {{/with}}
                                {{#if equals currentUser._id owner}}
                                    <small>
                                        <a href="#" style="color: red" class="remove-menu" data-restaurant-id="{{_id}}"> (Delete)</a>
                                    </small>
                                {{/if}}
                            {{else}}
                                {{#if equals currentUser._id owner}}
                                    Add menu <input data-restaurant-id="{{_id}}" type="file" class="add-menu"/>
                                {{else}}
                                    -
                                {{/if}}
                            {{/if}}
                        </dd>
                    </dl>
                </p>
            </div>
            <div class="col-sm-7">
                <strong>Notes</strong><br>
                {{ or notes "-" }}
            </div>
        </div>
        {{#if equals currentUser._id owner}}
            <a class="delete" href="/restaurant/delete/{{_id}}">Delete</a>
        {{/if}}
    </li>
</template>